#form-container {
    /* Dimensions of form container */
    margin: auto;
    width: 100%;
    max-width: 40rem;
    padding: 1.25rem;

    /* Look of form container */
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);

    --form-input-height: 2.5rem;
    --form-input-font-size: 1rem;
}

.form-heading {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1.5rem;
}

.form-item {
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
}

.form-item label {
    font-size: 1rem;
    font-weight: 600;
}

input[type='text'],
input[type='number'],
select {
    background-color: var(--bg-color);
    color: var(--text-color);

    height: var(--form-input-height);

    font-size: var(--form-input-font-size);

    border-radius: 0.5rem;
    border: 1px solid var(--border-color);

    padding-left: 0.5rem;
}

select {
    cursor: pointer;
}

.participants {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.participants:empty {
    padding: 0;
}

.participants > span {
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;

    font-weight: 600;
    padding: 0.5rem;
    color: var(--secondary-color);

    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    margin: 0 0.2rem;
}

.participants-input-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.participants-input-container > input {
    flex: 1;
}

.participants-input-container > button,
.add-expense-btn {
    width: fit-content;
    height: var(--form-input-height);

    background-color: var(--primary-color);
    color: white;

    border: none;
    border-radius: 0.5rem;

    font-size: var(--form-input-font-size);
    font-weight: 600;

    padding-left: 1.5rem;
    padding-right: 1.5rem;

    cursor: pointer;
}

.participants-input-container > button:hover,
.add-expense-btn:hover {
    background-color: var(--secondary-color);
}

.dark-mode .remove-participant {
    filter: invert(100%);
    height: 1rem;
    cursor: pointer;
}

.remove-participant {
    height: 1rem;
    cursor: pointer;
}

.error-message {
    color: var(--danger-color);
    font-size: 0.95rem;
}

#add-participant:disabled {
    opacity: 0.6;
    cursor: default;
}

#add-participant:disabled:hover {
    background-color: var(--primary-color);
    cursor: default;
}

body:not(:has(#form-container:popover-open)) main {
    transition-duration: 300ms;
}

body:has(#form-container:popover-open) main {
    filter: blur(5px);
    transition-duration: 300ms;
}

body:has(#form-container:popover-open) main *:not([popover]):not([popover] *) {
    pointer-events: none;
}
