.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    padding: 1.5rem 0;
}

#header-title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

#fair-share-logo {
    height: 2.7rem;
}

h1 {
    color: var(--primary-color);
    margin: 0;
}

.btn-controller {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#expense-btn {
    background: var(--primary-color);
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem 0.95rem;
    border-radius: 0.313rem;
    font-weight: bold;
    transition: background 0.3s;
}

#theme-toggle-btn {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

#theme-toggle-btn img {
    height: 1.5rem;
    transition: ease-in-out;
}
#expense-btn:hover {
    background: var(--secondary-color);
}

#theme-toggle-btn img:hover {
    height: 1.4rem;
}

@media (max-width: 395px) {
    h1 {
        display: none;
    }
}
