.main-container {
    background: var(--card-bg);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    padding: 1.25rem;
    border: 1px solid var(--border-color);
}

/* main container title */
.main-container-title {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-bottom: 1rem;
}

/* recent expenses list */
.recent-expenses li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0.625rem 0;
    border-bottom: 1px solid var(--border-color);
}

.recent-expenses li > p:first-child {
    width: 10rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.button-controller {
    display: flex;
    align-items: center;
}

.view-details-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.625rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.view-details-button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.expense-delete-button {
    background-color: var(--danger-color);
    color: white;
    border: none;
    padding: 0.2rem 0.6em;
    border-radius: 0.25rem;
    font-weight: 600;
    margin-left: 0.4rem;
}

.expense-delete-button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.delete-button-icon {
    width: 1.6rem;
}

/* expense details popup */
.expense-detail {
    background: var(--card-bg);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    padding: 1.25rem;
    border: 1px solid var(--border-color);
    width: 30rem;
    margin: auto;
    color: var(--text-color);
}

.expense-detail-title {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 600;
}

.view-detail-title-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.expense-detail-participants {
    list-style: none;
    padding: 0.625rem 0;
}

.expense-detail-split {
    color: var(--primary-color);
    font-weight: 600;
    padding: 1rem 0;
    font-size: 1.3rem;
}

.to-pay {
    color: var(--danger-color);
    font-weight: 600;
    margin-left: 0.5rem;
}

.to-receive {
    color: var(--success-color);
    font-weight: 600;
    margin-left: 0.5rem;
}

.expense-detail-participants li {
    padding: 0.8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.expense-paid-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-left: 2rem;
}

.expense-paid-btn:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.paid {
    color: var(--success-color);
    font-weight: 600;
    margin-left: 0.6rem;
}

.payment-settle-message {
    color: var(--success-color);
    font-weight: 600;
}

.edit-button {
    background-color: var(--primary-color);
    color: white;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: 600;
    transition: background-color 0.3s;
}

.edit-button:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.view-detail-close-button {
    background-color: var(--primary-color);
    border: none;
    padding: 0.3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}

.view-detail-close-button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
}

.view-detail-close-button img {
    filter: invert(100%);
    height: 0.8rem;
}

body:not(#expense-detail:has(:popover-open)) main {
    transition-duration: 300ms;
}

body:has(#expense-detail:popover-open) main {
    filter: blur(5px);
    transition-duration: 300ms;
}

body:has(#expense-detail:popover-open) main *:not([popover]):not([popover] *) {
    pointer-events: none;
}

@media (max-width: 600px) {
    .recent-expenses li {
        flex-direction: column;
        gap: 2rem;
        align-items: start;
    }
}
